<div class="clearfix">
    
    <h2>Success</h2>
    <div class="alert alert-success" role="alert">
        <strong>Well done!</strong> You successfully read this important alert message.
    </div>

    <ngx-markdown [html]="alertSuccess.html"></ngx-markdown>

    <h2>Info</h2>
    <div class="alert alert-info" role="alert">
        <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
    </div>
    
    <ngx-markdown [html]="alertInfo.html"></ngx-markdown>

    <h2>Warning</h2>
    <div class="alert alert-warning" role="alert">
        <strong>Warning!</strong> Better check yourself, you're not looking too good.
    </div>

    <ngx-markdown [html]="alertWarning.html"></ngx-markdown>

    <h2>Danger</h2>
    <div class="alert alert-danger" role="alert">
        <strong>Oh snap!</strong> Change a few things up and try submitting again.
    </div>

    <ngx-markdown [html]="alertDanger.html"></ngx-markdown>
</div>