.full-height {
  height: 100%;
}

.ngx-table {
  display: table;
}

.ngx-cell {
  display: table-cell;
  vertical-align: middle;
}

.ngx-container .ngx-sidebar-left {
  width: 270px;
  position: fixed;
  height: 100%;
  background: #2ecc71;
}

.sidebar-content .list-group-item {
  background: #2ecc71;
  border: 0px;
  border-radius: 0px;
  padding: .55rem 1.25rem;
  box-shadow: 0px 0 2px #0EAC51;
  transition: all 0.6s;
}

.sidebar-content a {
  color: white;
  cursor: pointer;
}

.sidebar-content .list-group-item:hover, .sidebar-content .list-group-item.active {
  background: #0EAC51;
}

.ngx-container .ngx-content-wrapper {
  margin-left: 270px;
}

.ngx-container .ngx-content-wrapper .ngx-main-content .ngx-header {
  position: fixed;
  min-height: 70px;
  width: 100%;
  background: #2ecc71;
  padding-left: 20px;
}

.ngx-container .ngx-content-wrapper .ngx-main-content .ngx-header .ngx-table {
  height: 70px;
}

.ngx-container .ngx-content-wrapper .ngx-main-content .ngx-contents {
  padding-top: 70px;
  padding-left: 20px;
}

.navbar, .navbar .breadcrumb {
  background: #f6f6f6;
}

.navbar-fixed-top {
  left: 270px;
}

.breadcrumb {
  background: none;
  padding: 0px;
}

.navbar, .breadcrumb {
  border-radius: 0px;
}

.breadcrumb a, .breadcrumb>li+li::before {
  color: gray;
}

.navbar .nav-link {
  font-size: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: black;
}

.navbar-toggler {
  float: left;
  margin-top: 5px;
  margin-right: 4px;
  color: white;
}

.ngx-main-content {
  padding: 80px 40px 40px;
}

.ngx-main-content h2 {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.navbar-nav .nav-item {
  display: inline-block;
  float: none;
}

h1 {
  padding-left: 20px;
  font-size: 2rem;
  line-height: 1.5;
}

ngx-backdrop {
  display: none;
  transition: opacity 450ms;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.fa {
  font-size: 1.5rem;
}

@media screen and (max-width: 767px) {
  .ngx-container .ngx-sidebar-left {
    width: 0px;
    -webkit-transition: width 0.35s ease;
    -moz-transition: width 0.35s ease;
    -o-transition: width 0.35s ease;
    transition: width 0.35s ease;
    visibility: hidden;
  }
  .ngx-container .ngx-sidebar-left.active {
    width: 270px;
    z-index: 1050;
    visibility: visible;
  }
  .ngx-container .ngx-content-wrapper {
    margin-left: 0px;
  }
  ngx-backdrop.active {
    display: block;
    background: #212121;
    opacity: 0.4;
    z-index: 1040;
  }
  .navbar {
    background: #2ecc71;
  }
  .navbar .nav-link {
    color: white;
  }
  .navbar-fixed-top {
    left: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  h1 {
    margin: 0px;
    color: white;
  }
  .navbar-nav {
    padding-left: 6px;
  }
  .ngx-main-content {
    padding-left: 10px;
    padding-right: 10px;
  }
  .ngx-main-content h2 {
    margin-bottom: 1.5rem;
  }
  .ngx-logo {
    max-height: 180px;
  }
  .dropdown-menu {
    min-width: auto;
  }
  h1 {
    padding-left: 0px;
  }
}