.full-height {
  height: 100%;
}
.ngx-table {
  display: table;
}
.ngx-cell {
  display: table-cell;
  vertical-align: middle;
}
.ngx-container .ngx-sidebar-left {
  width: 270px;
  position: fixed;
  height: 100%;
  background: #2dad60;
}
.ngx-container .ngx-sidebar-left .header-bar {
  height: 200px;
  background: #2dad60;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}
.ngx-container .ngx-sidebar-left .sidebar-content {
  position: absolute;
  top: 200px;
  left: 0px;
  overflow: auto;
  height: calc(100% - 200px);
  width: 100%;
}

.sidebar-content .list-group-item {
    background: #2dad60;
    border: 0px;
    padding: .55rem 1.25rem;
    box-shadow: 0px 0 2px rgb(129, 206, 160);
    border-right:7px solid #2dad60;
    transition: all 0.6s;
}
.sidebar-content .list-group-item.active {
    background: #2dc760;
    border-right:7px solid #2dc760;
}
.sidebar-content .list-group-item:hover {
    border-right:7px solid #2dc760;
}
.ngx-container .ngx-content-wrapper {
  margin-left: 270px;
}
.ngx-container .ngx-content-wrapper .ngx-main-content .ngx-header {
  position: fixed;
  min-height: 70px;
  width: 100%;
  background: #2dad60;
  padding-left: 20px;
}
.ngx-container .ngx-content-wrapper .ngx-main-content .ngx-header .ngx-table {
  height: 70px;
}
.ngx-container .ngx-content-wrapper .ngx-main-content .ngx-contents {
  padding-top: 70px ;
  padding-left: 20px;
}

@media screen and (max-width: 554px) {
  
  .ngx-sidebar-left {
    display: none;
  }
  
  .ngx-container .ngx-content-wrapper {
    margin-left: 0px;
  }
}

.navbar, .breadcrumb {
  border-radius: 0px;
}

.breadcrumb>li+li::before {
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}
.narbar-top {
    box-shadow: 5px 0px 5px rgb(129, 206, 160);
    background: #2dad60;
}