.ngx-table {
  display: table;
}
.ngx-cell {
  display: table-cell;
  vertical-align: middle;
}
.ngx-container .ngx-sidebar-left {
  width: 270px;
  position: fixed;
  height: 100%;
  background: #eeeeee;
}
.ngx-container .ngx-sidebar-left .header-bar {
  height: 200px;
  background: #ffffff;
}
.ngx-container .ngx-content-wrapper {
  margin-left: 270px;
}
.ngx-container .ngx-content-wrapper .ngx-main-content .ngx-header {
  position: fixed;
  min-height: 70px;
  width: 100%;
  background: #eeeeee;
  padding-left: 20px;
  box-shadow: 0px 3px 5px #ccc;
}
.ngx-container .ngx-content-wrapper .ngx-main-content .ngx-header .ngx-table {
  height: 70px;
}
.ngx-container .ngx-content-wrapper .ngx-main-content .ngx-contents {
  padding-top: 70px ;
  padding-left: 20px;
}
